body {
    font-size: 14px;
    margin: 0px;
}
.topo {
    display: flex;
    justify-content: space-between;
}
.topo_direita {
    display: flex;
    align-items: center;
}
.topo_esquerda {
    display: flex;
}
.topo_direita img {
    align-items: center;
}
.topo_direita div {
    margin: 8px;
}
.menu_escolha {
    align-items: center;
}
.topo_direita a {
    text-decoration: none;
}
.topo_direita a:hover {
    color: violet;
}
.busca {
    display: flex;
    align-items: center;
}
.foto img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.menu_opcoes {
    flex-direction: row;
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: darkgray;
}
nav .active a, 
nav a:hover {
   /* background-color: #39aae1;
    color: #FFFFFF; */
    border-bottom-style: solid;
    border-bottom-color: cornflowerblue;
    color: cornflowerblue;
}
hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: -16px 0; padding: 0;
}
.container {
    justify-content: flex-start;
    display: flex;
    margin-left: 150px;
}
.logo img {
    width: 100px;
}
.logo {
    text-align: left;
    margin: 30px;
}
.barra_busca {
    border-radius: 20px;
    border: 1px solid; 
    border-color: #DFDAE0;
    width: 600px;
    height: 30px;
    outline-color: #DFDAE0;
    padding-inline-start: 12px;
    display: inline-flex;
}
.icones_busca img{
    align-items: flex-end;
    padding-left: 10px;
}
.icones_busca {
    display: flex;
    justify-content: flex-end;
    width: 600px;
    padding-inline-end: 10px;
    padding-left: 20px;
}
.lupinha {
    display: flex;
    justify-content: start;
    width: max-content;
}
#procurar {
    display: flex;
    border: none;
    width: 450px;
    height: 25px;
    outline: none;
}
#submeter {
    border-radius: 5px;
    height: 30px;
    border: 0px solid;
    margin: 5px;
    outline-color: #DFDAE0;
    outline:none;
}

.barra_busca:hover, button:hover {
    box-shadow: 3px 3px 10px #DFDAE0;
    outline: none;
}

section {
    margin-top: 30px;
}
.container_section {
    justify-content: flex-start;
    margin-left: 150px;
    margin-right: 600px;
}
.txt_num_resultados {
    color: darkgray;
    display: flex;
    justify-content: flex-start;
}
.resultados_busca {
margin-top: 20px;
}
.resultados_busca_titulo {
    font-size: 20px;
}
.resultados_busca_titulo a {
    text-decoration: none;
    color: mediumblue;
}
.resultados_busca_link a {
    text-decoration: none;
    color: green;
}
.resultados_busca_resumo {
    color: darkgray;
}
.resultado_comum a {
    text-decoration: none;
    color: blue;
}
.resultado_comum a:hover {
    text-decoration: underline;
}
.text_final {
    margin-top: 20px;
    font-size: 16px;
}
.resultado_comum {
    display: flex;
}
.resultado_comum ul{
    padding-left: 0px;
    height: 50px;
    padding-right: 100px;
}
.resultado_comum li{
    list-style: none;
}
.gooogle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.lista_numeros {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista_numeros ul {
    display: flex;
}
.lista_numeros li{
    list-style: none;  
    padding-right: 10px;
}
footer {
    align-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}
.paises a, .infos_rodape a {
    text-decoration: none;
    color: #999999;
    margin: 10px;
}
.paises, .infos_rodape {
    display: flex;
    align-items: center;
}
.infos_rodape {
    display: flex;
}
.paises, .infos_rodape {
    background-color: #f2f2f2;
    height: 50px;
    border: 1px solid;
    border-color: #e6e6e6;
}
.infos_esq {
    flex: auto;
}
.infos_dir {
    text-align: right;
    margin-right: 10px;
}
